<main class="events-page">
    <app-hero height="50vh" imageSrc="assets/events-header.png" imageAlt="Events header" title="Evenementen"></app-hero>
    <app-breadcrumbs></app-breadcrumbs>
    <section class="container container-card">
        <div class="events-grid">
            @if (loading()) {
            <p class="loading-message">Evenementen laden...</p>
            } @else {
            @for (event of events(); track event.id) {
            <app-activity-card [externalLink]="'https://shop.revivevzw.be/ACTIVITEITEN/oneact60.aspx?ID=' + event.id"
                [imageSrc]="event.mainImage || 'https://shop.revivevzw.be/getACTimgfromsql.aspx?id=' + event.id"
                [imageAlt]="event.name | localize" [date]="event.startDate" [title]="event.name | localize"
                [description]="event.description | localize">
            </app-activity-card>
            } @empty {
            <p class="no-events">Er zijn momenteel geen aankomende evenementen.</p>
            }
            }
        </div>
    </section>
</main>