<header class="header" [class.scrolled]="isScrolled">
    <div class="header-container">
        <div class="header-left">
            <a routerLink="/" class="logo-link">
                <img src="/assets/logo-horizontal.png" alt="Revive Mark" class="logo-mark">
            </a>
        </div>

        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="mobile-menu-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </label>

        <div class="header-main">
            <div class="header-top">
                <!-- <div class="search-bar">
                    <img [src]="searchIconUrl" alt="Search" class="search-icon">
                    <input type="text" placeholder="Zoeken...">
                </div> -->

                <div class="top-actions">
                    <a routerLink="/contact" class="header-link">{{ 'HEADER.CONTACT' | translate }}</a>
                    <!-- <a href="#" class="icon-link">
                        <img [src]="cartIconUrl" alt="Shopping Cart" class="header-icon">
                    </a> -->
                    <div class="lang-selector" (click)="toggleLangMenu()" [class.active]="isLangMenuOpen">
                        <div class="lang-current-container">
                            <span class="lang-current">{{ currentLangLabel() }}</span>
                            <span class="chevron-icon">▾</span>
                        </div>
                        <div class="lang-dropdown" *ngIf="isLangMenuOpen">
                            <div *ngFor="let lang of languages"
                                (click)="setLanguage(lang.code); $event.stopPropagation()"
                                [class.selected]="currentLang() === lang.code" class="lang-option">
                                {{ lang.fullLabel }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-bottom">
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="nav-link">{{ 'HEADER.NAV.FROM_HEART' | translate }} <span
                                    class="chevron-icon"><img [src]="carretDownUrl" class=""></span></a>
                            <div class="nav-dropdown">
                                <a routerLink="/" fragment="wie-zijn-we" class="nav-link">{{ 'HEADER.NAV.WHO_WE_ARE' |
                                    translate }}</a>
                                <a routerLink="/team" class="nav-link">{{ 'HEADER.NAV.OUR_TEAM' | translate }}</a>
                                <a routerLink="/" fragment="onze-missie" class="nav-link">{{ 'HEADER.NAV.OUR_MISSION' |
                                    translate }}</a>
                                <a routerLink="/collaboration" class="nav-link">{{ 'HEADER.NAV.SUSTAINABLE_COLLAB' |
                                    translate }}</a>
                                <a routerLink="/partners" class="nav-link">{{ 'HEADER.NAV.OUR_PARTNERS' | translate
                                    }}</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">{{ 'HEADER.NAV.HOW_WE_HELP' | translate }} <span
                                    class="chevron-icon"><img [src]="carretDownUrl" class=""></span></a>
                            <div class="nav-dropdown">
                                <a [routerLink]="['/missions']" [queryParams]="{type: 'future'}" class="nav-link">{{
                                    'HEADER.NAV.PLANNED_MISSIONS' | translate }}</a>
                                <a [routerLink]="['/missions']" [queryParams]="{type: 'past'}" class="nav-link">{{
                                    'HEADER.NAV.PAST_MISSIONS' | translate }}</a>
                                <a routerLink="/patient-stories" class="nav-link">{{ 'HEADER.NAV.PATIENT_STORIES' |
                                    translate }}</a>
                                <a routerLink="/volunteer-stories" class="nav-link">{{ 'HEADER.NAV.VOLUNTEER_STORIES' |
                                    translate }}</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/events" class="nav-link">{{ 'HEADER.NAV.EVENTS' | translate }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">{{ 'HEADER.NAV.SUPPORT_US' | translate }} <span
                                    class="chevron-icon"><img [src]="carretDownUrl" class=""></span></a>
                            <div class="nav-dropdown">
                                <a href="https://shop.revivevzw.be/GIFT/BelVrijGift.aspx" class="nav-link">{{
                                    'HEADER.NAV.MAKE_DONATION' | translate }}</a>
                                <a routerLink="/become-member" class="nav-link">{{ 'HEADER.NAV.BECOME_MEMBER' |
                                    translate }}</a>
                                <div class="nav-item">
                                    <a class="nav-link">{{ 'HEADER.NAV.HELP_US' | translate }} <img
                                            [src]="carretRightUrl" class=""></a>
                                    <div class="nav-dropdown nav-dropdown--sidedropdown">
                                        <a routerLink="/corporate-support" class="nav-link">{{ 'HEADER.NAV.CORP_SUPPORT'
                                            | translate }}</a>
                                        <a routerLink="/legacies" class="nav-link">{{ 'HEADER.NAV.LEGACIES' | translate
                                            }}</a>
                                        <a routerLink="/join-team" class="nav-link">{{ 'HEADER.NAV.JOIN_TEAM' |
                                            translate }}</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>

                <div class="header-buttons">
                    <a class="btn-secondary" href="https://shop.revivevzw.be/GIFT/BelVrijGIFT.aspx">{{
                        'HEADER.DONATE' | translate }}</a>
                    <a href="https://shop.revivevzw.be/shop/shop.aspx" class="btn-primary">{{ 'HEADER.WEBSHOP' |
                        translate }}</a>
                </div>
            </div>
        </div>
    </div>
</header>