<header class="header">
    <div class="header-container">
        <div class="header-left">
            <a routerLink="/" class="logo-link">
                <img src="/assets/logo-horizontal.png" alt="Revive Mark" class="logo-mark">
            </a>
        </div>

        <div class="header-main">
            <div class="header-top">
                <div class="search-bar">
                    <img [src]="searchIconUrl" alt="Search" class="search-icon">
                    <input type="text" placeholder="Zoeken...">
                </div>

                <div class="top-actions">
                    <a routerLink="/contact" class="header-link">{{ 'HEADER.CONTACT' | translate }}</a>
                    <a href="#" class="icon-link">
                        <img [src]="cartIconUrl" alt="Shopping Cart" class="header-icon">
                    </a>
                    <div class="lang-selector" (click)="toggleLangMenu()" [class.active]="isLangMenuOpen">
                        <div class="lang-current-container">
                            <span class="lang-current">{{ currentLangLabel() }}</span>
                            <span class="chevron-icon">▾</span>
                        </div>
                        <div class="lang-dropdown" *ngIf="isLangMenuOpen">
                            <div *ngFor="let lang of languages"
                                (click)="setLanguage(lang.code); $event.stopPropagation()"
                                [class.selected]="currentLang() === lang.code" class="lang-option">
                                {{ lang.fullLabel }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-bottom">
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Vanuit het hart <span class="chevron-icon"><img
                                        [src]="carretDownUrl" class=""></span></a>
                            <div class="nav-dropdown">
                                <a routerLink="/about" class="nav-link">Wie zijn we, wat doen we</a>
                                <a routerLink="/team" class="nav-link">Ons team</a>
                                <a routerLink="/mission" class="nav-link">Onze missie</a>
                                <a routerLink="/collaboration" class="nav-link">Duurzame samenwerking</a>
                                <a routerLink="/partners" class="nav-link">Onze partners</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Hoe wij helpen <span class="chevron-icon"><img
                                        [src]="carretDownUrl" class=""></span></a>
                            <div class="nav-dropdown">
                                <a [routerLink]="['/missions']" [queryParams]="{type: 'future'}"
                                    class="nav-link">Geplande medische missies</a>
                                <a [routerLink]="['/missions']" [queryParams]="{type: 'past'}" class="nav-link">Voorbije
                                    medische missies</a>
                                <a routerLink="/patient-stories" class="nav-link">Patiënten aan het woord</a>
                                <a routerLink="/volunteer-stories" class="nav-link">Vrijwilligers aan het woord</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/events" class="nav-link">Events</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Steun ons <span class="chevron-icon"><img [src]="carretDownUrl"
                                        class=""></span></a>
                            <div class="nav-dropdown">
                                <a routerLink="/donate" class="nav-link">Doe een gift</a>
                                <a routerLink="/become-member" class="nav-link">Word lid</a>
                                <div class="nav-item">
                                    <a href="#" class="nav-link">Help mee <img [src]="carretRightUrl" class=""></a>
                                    <div class="nav-dropdown nav-dropdown--sidedropdown">
                                        <a routerLink="/corporate-support" class="nav-link">Steun als organisatie</a>
                                        <a routerLink="/legacies" class="nav-link">Testamenten en legaten</a>
                                        <a routerLink="/join-team" class="nav-link">Versterk ons team</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>

                <div class="header-buttons">
                    <button class="btn-secondary" routerLink="/donate">{{ 'HEADER.DONATE' | translate }}</button>
                    <a href="https://shop.revivevzw.be/" class="btn-primary">{{ 'HEADER.WEBSHOP' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</header>