:host {
    display: block;
    flex: 1 1 0;
    width: 100%;
}

.icon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    padding: var(--spacing-6);
    border-radius: var(--border-radius-2);
    box-shadow: var(--shadow-default);
    height: 100%;
    min-height: 319px;
    text-align: center;
}

.icon-container {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--spacing-5);
    flex-shrink: 0;
}

.title {
    font: var(--font-h3);
    color: var(--color-black);
    margin-bottom: var(--spacing-3);
}

.description {
    font: var(--font-body-default);
    color: var(--color-grey-700);
    line-height: 1.4;
}