<div class="mission-page-container">
    <div class="header-spacer"></div>
    <app-breadcrumbs></app-breadcrumbs>
    <section class="page-header">
        <div class="label-wrapper">
            <span class="dot"></span>
            <span class="label">ONZE MISSIES</span>
        </div>
        <h1>Onze missies</h1>
        <p class="intro-text">
            Ontdek hier onze geplande en afgelopen missies.<br>
            De missies hebben telkens een duurtijd van 2 weken.
        </p>

        <div class="tabs">
            <button class="tab-btn" [class.active]="activeTab() === 'future'" (click)="setActiveTab('future')">Geplande
                missies</button>
            <button class="tab-btn" [class.active]="activeTab() === 'past'" (click)="setActiveTab('past')">Afgelopen
                missies</button>
        </div>
    </section>

    <section class="mission-grid">
        @if (loading()) {
        <p class="loading-message">Missies laden...</p>
        } @else {
        @for (mission of filteredMissions(); track mission.id) {
        <app-activity-card 
            [link]="['/missions', mission.id]" 
            [imageSrc]="mission.mainImage" 
            [imageAlt]="mission.name | localize" 
            [date]="mission.startDate" 
            [title]="mission.name | localize" 
            [description]="mission.description | localize">
        </app-activity-card>
        } @empty {
        <p class="no-missions">Er zijn momenteel geen missies.</p>
        }
        }
    </section>
</div>