.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-5);
    padding: var(--spacing-5) 0;
    justify-content: center;
    align-items: stretch;
    margin-bottom: var(--spacing-12);
}

.cards-container > * {
    flex: 1;
    min-width: 300px;
    max-width: 100%;
}

/* --- TABLET/MOBILE --- */
@media (max-width: 1024px) { /* --breakpoint-tablet */
    .cards-container {
        gap: var(--spacing-4);
    }
}

@media (max-width: 768px) { /* --breakpoint-mobile */
    .cards-container {
        flex-direction: column;
        align-items: center;
    }
    
    .cards-container > * {
        width: 100%;
    }
}

.info-block-container {
    margin-top: var(--spacing-4);
}