@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import './design-tokens.css';
@import './button.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family-body);
    font-size: 18px;
    line-height: 1.4;
    color: var(--color-blue-950);
    background-color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-headings);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
}

.container {
    max-width: var(--container-max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
    width: 100%;
}

.container-narrow {
    max-width: 1200px;
}