<section class="container cta-banner-wrapper">
    <div class="cta-banner">
        <div class="label-wrapper">
            <span class="dot"></span>
            <span class="label">{{ 'CTA_BANNER.LABEL' | translate }}</span>
        </div>
        <h2>{{ 'CTA_BANNER.TITLE' | translate }}</h2>
        <p>{{ 'CTA_BANNER.P1' | translate }}</p>
        <div class="buttons">
            <a class="btn-primary" href="https://shop.revivevzw.be/GIFT/BelVrijGIFT.aspx">{{
                'HEADER.DONATE' | translate }}</a>
            <a href="https://shop.revivevzw.be/shop/shop.aspx" class="btn-secondary">{{ 'HEADER.WEBSHOP' |
                translate }}</a>
            <a routerLink="/join-team" class="btn-primary">{{ 'CTA_BANNER.BECOME_MEMBER' |
                translate }}</a>
        </div>
    </div>
</section>